<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="StringSetting" value="StringValue" />
        <add key="IntSetting" value="1234" />
        <add key="EnumSetting" value="Value2" />
        <add key="BoolSetting" value="true" />
        <add key="UriSetting" value="http://localhost/SomePath" />
        <add key="TimeSpanSetting" value="1.10:50:10" />
        <add key="VersionSetting" value="1.2.3.4" />
        <add key="Search:Url" value="http://www.search.com/q=" />
    </appSettings>
    <startup>
	    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
